  <div class="hero-unit">
        <div class="row">
        	<h1><i class="fa fa-chain-broken"></i> Check for broken links on a webpage.</h1>
        </div>
        <div class="row">
        	<p>It's easy and fun to watch the results show up in realtime.  Just enter the URL in question below, and click the big button.</p>
        </div>
        <div class="row">
        	<input ng-model="url_to_test" type="text" name="url-to-check" id="url-to-check" class="form-control" placeholder="Enter URL To Check For Broken Links">
        </div>
        <div class="row">
        	<div class="span6 btn-center">
        		<button ng-click="startRunningTest()" ng-show="!runningTest" class="btn btn-primary btn-xlarge">GO!</button>
     		</div>
     	</div>

      <!----- 
        Evenetually this element should actually be something like
        
        <test-url url="{{url_to_test}}" ng-repeat="url_to_test in parsed_urls"></test-url>
        
        This will allow us to have isolate scope in the directive (so url_to_test can be unique per directive).
      ---->
      
     	<div test-url ng-show="done_parsing_urls" ng-repeat="test_url in parsed_urls">

     	</div>

 </div>
