  <div class="hero-unit">
        <div class="row">
        	<h1><i class="fa fa-chain-broken"></i> Check for broken links on a webpage.</h1>
        </div>
        <div class="row">
        	<p>It's easy and fun to watch the results show up in realtime.  Just enter the URL in question below, and click the big button.</p>
        </div>
        <div class="row">
        	<input ng-model="url_to_scrape" type="text" name="url_to_scrape" id="url-to-scrape" class="form-control" placeholder="Enter URL To Check For Broken Links">
        </div>
        <div class="row">
        	<div class="span6 btn-center">
        		<button ng-click="startRunningTest()" ng-show="!runningTest" class="btn btn-primary btn-xlarge">GO!</button>
     		</div>
     	</div>

        <making-call-spinner ng-show="runningTest && !done_scraping_original_url"></making-call-spinner>
     	<test-url-status ng-show="done_scraping_original_url" ng-repeat="test_url in retrieved_urls"></test-url-status>
        <pre>
            {{ externalWebSiteHTML }}
        </pre>
 </div>
