<td>
    {{ $index }}
</td>
<td>
    <span ng-switch="statusCodeResult">
        <span ng-switch-when="false">
            <i class="fa fa-times error-inline"></i> 
            <span class="error-inline">Broken</span>
        </span>
        <span ng-switch-when="true">
            <i class="fa fa-check success"></i> Healthy
        </span>
        <span ng-switch-default>
            <i class="fa fa-spinner fa-spin"></i>
            Checking
        </span>
    </span>
</td>
<td>
    <a href="{{ href }}"> {{ href }}</a>
</td>
